<section class="testimonials">
  <div class="testimonials-container">
    <div class="section-header">
      <h2 class="section-title">What Our Users Say</h2>
      <p class="section-description">
        See how Blossom is helping businesses like yours succeed.
      </p>
    </div>
    <div class="testimonials-grid">
      <div *ngFor="let testimonial of testimonials" class="testimonial-card">
        <div class="testimonial-rating">
          <span *ngFor="let star of [1,2,3,4,5]" class="star">⭐</span>
        </div>
        <p class="testimonial-text">"{{ testimonial.text }}"</p>
        <div class="testimonial-author">
          <div class="author-avatar">{{ testimonial.avatar }}</div>
          <div class="author-info">
            <div class="author-name">{{ testimonial.name }}</div>
            <div class="author-role">{{ testimonial.role }}</div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>

